# Database
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=trial_kit


DB_HOST=sql202.infinityfree.com
DB_PORT=3306
DB_USER=if0_41407697
DB_PASSWORD=h1rB6jxtpLoD
DB_NAME=if0_41407697_trial_kit

# ML Service
ML_SERVICE_URL=http://localhost:8000

# Next Auth
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# App
NODE_ENV=development
